/* CURRICULUM */
#cv {
    max-width: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(245, 244, 244, 0.466);
    backdrop-filter: blur(10px);
}

/* TITULO PRINCIPAL */
#cv h1 {
    font-size: 3.7rem;
    font-weight: bold;
    text-shadow: 1px 1px 30px rgba(255, 0, 157, 0.932) ;
    /* animation: slideIn 2s ease-out forwards; */
}


/* @keyframes slideIn {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
} */

/* CONTENEDOR GENERAL */
.curriculum-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 25px 10px 30px;
    transition: opacity 1s ease-in, transform 1s ease-in;
    
    
    border-left: 6px solid;
    border-image: linear-gradient(180deg, #ff5733, #f1a548, #ffcc00) 1;
    animation: borderFlow 3s linear infinite;
}

@keyframes borderFlow {
    0% { border-image-source: linear-gradient(180deg, #ff5733, #f1a548, #ffcc00); }
    50% { border-image-source: linear-gradient(180deg, #ffcc00, #f1a548, #ff5733); }
    100% { border-image-source: linear-gradient(180deg, #ff5733, #f1a548, #ffcc00); }
}

.years {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
    width: 140px;
    text-align: center;
}


.experience {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(245, 244, 244, 0.466);
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.experience:hover {
    background-color: rgba(255, 165, 0, 0.3);
    transform: translateY(-5px);
}


@media (min-width: 500px) and (max-width: 767px) {
    #cv {
        width: 90%;
        padding-bottom: 10%;
        margin: 0 auto;
    }
    
    .curriculum-container {
        flex-direction: row;
        width: 90%;
    }

    .experience {
        text-align: left;
        padding: 20px;
    }

    .experience p {
        display: none;
    }
}

@media (min-width: 1025px) {
    #cv {
        width: 60%;
        margin: 100px auto;
    }

    .curriculum-container {
        flex-direction: row;
        width: 100%;
    }

    .experience p {
        display: block;
    }
}
